{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "markup",
          "css",
          "c",
          "go",
          "cpp",
          "php",
          "java",
          "python"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "coy",
        "css": true
      }
    ]
  ]
}